rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Global Safety Net
    match /{document=**} {
      allow read, write: if false;
    }

    // Allow public read/write for channels
    match /channels/{channelId} {
      allow read, write: if true;
    }

    // Allow public read/write for videos
    match /videos/{videoId} {
      allow read, write: if true;
    }

    // Allow public read/write for ideas
    match /ideas/{ideaId} {
      allow read, write: if true;
    }

    // Allow public read/write for system/metadata
    match /system/{docId} {
      allow read, write: if true;
    }
  }
}
